.hero-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.hero-section .div {
  background-color: #ffffff;
  height: 4456px;
  position: relative;
  width: 1440px;
}

.hero-section .nave {
  background-color: #ffffff;
  height: 90px;
  left: 60px;
  position: absolute;
  top: 0;
  width: 1320px;
}

.hero-section .ph-meta-logo-thin {
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 89px;
}

.hero-section .pages {
  height: 31px;
  left: 241px;
  position: absolute;
  top: 30px;
  width: 598px;
}

.hero-section .HOME-ABOUT-SERVICES {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
}

.hero-section .line {
  height: 1px;
  left: 322px;
  object-fit: cover;
  position: absolute;
  top: 61px;
  width: 35px;
}

.hero-section .frame {
  background-color: #f7e8d580;
  height: 42px;
  left: 991px;
  position: absolute;
  top: 24px;
  width: 230px;
}

.hero-section .iconamoon-search {
  height: 24px;
  left: 196px;
  position: absolute;
  top: 9px;
  width: 24px;
}

.hero-section .text-wrapper {
  color: #b38b7063;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 17px;
  left: 10px;
  letter-spacing: 0.96px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 177px;
}

.hero-section .icon-park-outline {
  height: 31px;
  left: 1247px;
  position: absolute;
  top: 30px;
  width: 31px;
}

.hero-section .img {
  height: 42px;
  left: 1238px;
  object-fit: cover;
  position: absolute;
  top: 24px;
  width: 1px;
}

.hero-section .iconamoon-profile {
  height: 31px;
  left: 1289px;
  position: absolute;
  top: 30px;
  width: 31px;
}


.hero-section .div-wrapper {
  border: 1px solid;
  border-color: #958c7c;
  border-radius: 10px;
  height: 42px;
  left: 59px;
  overflow: hidden;
  position: absolute;
  top: 416px;
  width: 185px;
}

.hero-section .text-wrapper-2 {
  color: #ffffff80;
  font-family: "Poppins-Light", Helvetica;
  font-size: 18px;
  font-weight: 300;
  height: 42px;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 171px;
}

.hero-section .frame-2 {
  border: 1px solid;
  border-color: #958c7c;
  border-radius: 10px;
  height: 42px;
  left: 59px;
  overflow: hidden;
  position: absolute;
  top: 358px;
  width: 185px;
}

.hero-section .overlap-group {
  height: 230px;
  left: 454px;
  position: absolute;
  top: 139px;
  width: 552px;
}

.hero-section .text-wrapper-3 {
  color: #ffffffbf;
  font-family: "Quintessential-Regular", Helvetica;
  font-size: 150px;
  font-weight: 400;
  height: 230px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 533px;
}

.hero-section .where-comfort-meets {
  color: #f7e8d5e0;
  font-family: "Questrial-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 32px;
  left: 373px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 187px;
  width: 179px;
}

.hero-section .text-wrapper-4 {
  color: #f7e8d5e0;
  font-family: "Questrial-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 63px;
  white-space: nowrap;
}

.hero-section .line-2 {
  height: 2px;
  left: 226px;
  position: absolute;
  top: 72px;
  width: 50px;
}

.hero-section .ABOUT {
  background-color: #f7e8d540;
  height: 510px;
  left: 0;
  position: absolute;
  top: 600px;
  width: 1440px;
}

.hero-section .overlap {
  height: 428px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 706px;
}

.hero-section .frame-3 {
  background-color: #f8e8d6;
  height: 389px;
  left: 0;
  position: absolute;
  top: 0;
  width: 659px;
}


.hero-section .overlap-2 {
  height: 317px;
  left: 810px;
  position: absolute;
  top: 28px;
  width: 567px;
}

.hero-section .text-wrapper-5 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 119px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 567px;
}

.hero-section .qorem-ipsum-dolor {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 20px;
  font-weight: 300;
  height: 231px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 86px;
  width: 567px;
}

.hero-section .text-wrapper-6 {
  color: #845b0b;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 32px;
  font-weight: 500;
  height: 48px;
  left: 810px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 364px;
}

.hero-section .text-wrapper-7 {
  color: #845b0b;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 32px;
  font-weight: 500;
  height: 48px;
  left: 964px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 364px;
}

.hero-section .text-wrapper-8 {
  color: #845b0b;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 32px;
  font-weight: 500;
  height: 48px;
  left: 1274px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 364px;
}

.hero-section .text-wrapper-9 {
  color: #845b0b;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 32px;
  font-weight: 500;
  height: 48px;
  left: 1119px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 364px;
}

.hero-section .years-experience {
  color: #000000;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 11px;
  font-weight: 200;
  height: 37px;
  left: 810px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 412px;
  width: 81px;
}

.hero-section .awards-gained {
  color: #000000;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 11px;
  font-weight: 200;
  height: 37px;
  left: 964px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 412px;
  width: 81px;
}

.hero-section .people-trained {
  color: #000000;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 11px;
  font-weight: 200;
  height: 37px;
  left: 1274px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 412px;
  width: 81px;
}

.hero-section .products-sold {
  color: #000000;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 11px;
  font-weight: 200;
  height: 37px;
  left: 1119px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 412px;
  width: 81px;
}

.hero-section .OUR-GALLERY {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 80px;
  font-weight: 500;
  height: 52px;
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 374px;
  white-space: nowrap;
  width: 567px;
}

.hero-section .ri-circle-fill {
  height: 60px;
  left: 1234px;
  position: absolute;
  top: 428px;
  width: 60px;
}

.hero-section .ri-circle-fill-2 {
  height: 60px;
  left: 1317px;
  position: absolute;
  top: 428px;
  width: 60px;
}

.hero-section .overlap-wrapper {
  background-color: #ffffff;
  height: 864px;
  left: 0;
  position: absolute;
  top: 2046px;
  width: 1440px;
}

.hero-section .overlap-3 {
  height: 801px;
  left: 60px;
  position: relative;
  top: 48px;
  width: 1319px;
}

.hero-section .overlap-4 {
  height: 801px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1319px;
}

.hero-section .p {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 48px;
  font-weight: 500;
  height: 119px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 1011px;
}


.hero-section .element-free-consultation {
  color: #000000;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 30px;
  font-weight: 200;
  height: 58px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 219px;
  width: 508px;
}

.hero-section .line-3 {
  height: 2px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 298px;
  width: 644px;
}

.hero-section .material-symbols {
  height: 44px;
  left: 616px;
  position: absolute;
  top: 227px;
  width: 44px;
}

.hero-section .element-custom-furniture {
  color: #000000;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 30px;
  font-weight: 200;
  height: 58px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 318px;
  width: 508px;
}

.hero-section .element-furniture {
  color: #000000;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 30px;
  font-weight: 200;
  height: 58px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 417px;
  width: 508px;
}

.hero-section .element-training-sessions {
  color: #000000;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 30px;
  font-weight: 200;
  height: 58px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 516px;
  width: 508px;
}

.hero-section .element-free-delivery {
  color: #000000;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-size: 30px;
  font-weight: 200;
  height: 58px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 615px;
  width: 508px;
}

.hero-section .line-4 {
  height: 2px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 397px;
  width: 644px;
}

.hero-section .line-5 {
  height: 2px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 488px;
  width: 644px;
}

.hero-section .line-6 {
  height: 2px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 587px;
  width: 644px;
}

.hero-section .line-7 {
  height: 2px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 686px;
  width: 644px;
}

.hero-section .material-symbols-2 {
  height: 44px;
  left: 616px;
  position: absolute;
  top: 326px;
  width: 44px;
}

.hero-section .material-symbols-3 {
  height: 44px;
  left: 616px;
  position: absolute;
  top: 432px;
  width: 44px;
}

.hero-section .material-symbols-4 {
  height: 44px;
  left: 616px;
  position: absolute;
  top: 535px;
  width: 44px;
}

.hero-section .overlap-group-wrapper {
  height: 44px;
  left: 616px;
  overflow: hidden;
  position: absolute;
  top: 630px;
  transform: rotate(180deg);
  width: 44px;
}

.hero-section .overlap-group-2 {
  height: 44px;
  left: 1px;
  position: relative;
}

.hero-section .frame-6 {
  background-color: #845b0b;
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 44px;
}

.hero-section .vector {
  height: 22px;
  left: 11px;
  position: absolute;
  top: 12px;
  transform: rotate(-180deg);
  width: 22px;
}

.hero-section .ABOUT-3 {
  background-color: #ffffff40;
  height: 394px;
  left: 0;
  position: absolute;
  top: 1110px;
  width: 1440px;
}

.hero-section .what-can-we-do {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 40px;
  font-weight: 500;
  height: 147px;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 59px;
  width: 210px;
}

.hero-section .text-wrapper-10 {
  color: #0000009e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 59px;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 206px;
  width: 238px;
}

.hero-section .text-wrapper-11 {
  color: #0000009e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 59px;
  left: 783px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 138px;
  width: 238px;
}

.hero-section .text-wrapper-12 {
  color: #0000009e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 59px;
  left: 789px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 334px;
  width: 238px;
}

.hero-section .text-wrapper-13 {
  color: #0000009e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 59px;
  left: 1146px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 334px;
  width: 233px;
}

.hero-section .line-8 {
  height: 2px;
  left: 735px;
  object-fit: cover;
  position: absolute;
  top: 237px;
  width: 644px;
}

.hero-section .line-9 {
  height: 103px;
  left: 1057px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 1px;
}

.hero-section .line-10 {
  height: 103px;
  left: 1057px;
  object-fit: cover;
  position: absolute;
  top: 291px;
  width: 1px;
}

.hero-section .text-wrapper-14 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 42px;
  left: 783px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 89px;
  width: 194px;
}

.hero-section .text-wrapper-15 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 42px;
  left: 789px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 285px;
  width: 194px;
}

.hero-section .text-wrapper-16 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 42px;
  left: 1146px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 285px;
  width: 190px;
}

.hero-section .mingcute-finger {
  height: 44px;
  left: 1098px;
  position: absolute;
  top: 90px;
  width: 44px;
}

.hero-section .mage-stars-c {
  height: 44px;
  left: 729px;
  position: absolute;
  top: 90px;
  width: 44px;
}

.hero-section .text-wrapper-17 {
  color: #0000009e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 59px;
  left: 1146px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 138px;
  width: 233px;
}

.hero-section .text-wrapper-18 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 42px;
  left: 1146px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 89px;
  width: 190px;
}

.hero-section .ph-hammer-thin {
  height: 44px;
  left: 729px;
  position: absolute;
  top: 286px;
  width: 44px;
}

.hero-section .ph-hands-clapping {
  height: 44px;
  left: 1098px;
  position: absolute;
  top: 286px;
  width: 44px;
}

.hero-section .frame-7 {
  background-color: #000000bf;
  height: 35px;
  left: 60px;
  position: absolute;
  top: 296px;
  width: 89px;
}

.hero-section .text-wrapper-19 {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 35px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 89px;
}

.hero-section .overlap-5 {
  height: 464px;
  left: 0;
  position: absolute;
  top: 2926px;
  width: 1440px;
}


.hero-section .overlap-6 {
  height: 297px;
  left: 65px;
  position: absolute;
  top: -1px;
  width: 1224px;
}

.hero-section .text-wrapper-20 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 147px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 529px;
}

.hero-section .overlap-7 {
  height: 165px;
  left: 115px;
  position: absolute;
  top: 132px;
  width: 1109px;
}

.hero-section .text-wrapper-21 {
  color: #845b0b;
  font-family: "Overpass Mono-Regular", Helvetica;
  font-size: 130px;
  font-weight: 400;
  height: 90px;
  left: 435px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 239px;
}

.hero-section .text-wrapper-22 {
  color: #000000;
  font-family: "Overpass Mono-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 111px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 1109px;
}

.hero-section .eos-icons-three-dots {
  height: 24px;
  left: 609px;
  position: absolute;
  top: 99px;
  width: 24px;
}

.hero-section .text-wrapper-23 {
  color: #845b0b;
  font-family: "Overpass Mono-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  height: 59px;
  left: 615px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 334px;
  width: 252px;
}

.hero-section .ph-dots-three {
  height: 50px;
  left: 710px;
  position: absolute;
  top: 394px;
  width: 50px;
}

.hero-section .frame-9 {
  background-color: #ffffff;
  height: 210px;
  left: 0;
  position: absolute;
  top: 4246px;
  width: 1440px;
}

.hero-section .line-11 {
  height: 1px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 105px;
  width: 1316px;
}

.hero-section .ph-meta-logo-thin-2 {
  height: 90px;
  left: 62px;
  position: absolute;
  top: 15px;
  width: 89px;
}

.hero-section .frame-10 {
  height: 50px;
  left: 997px;
  position: absolute;
  top: 37px;
  width: 381px;
}

.hero-section .frame-11 {
  background-color: #ffffff;
  height: 40px;
  left: 62px;
  position: absolute;
  top: 127px;
  width: 423px;
}

.hero-section .solar-copyright {
  height: 30px;
  left: 9px;
  position: absolute;
  top: 5px;
  width: 30px;
}

.hero-section .text-wrapper-24 {
  color: #0000005e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 31px;
  left: 49px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 345px;
}

.hero-section .privacy-policy-terms {
  color: #0000005e;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 31px;
  left: 930px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 129px;
  width: 451px;
}

.hero-section .FA-qs {
  background-color: #ffffff;
  height: 750px;
  left: 0;
  position: absolute;
  top: 3390px;
  width: 1440px;
}

.hero-section .overlap-8 {
  height: 246px;
  left: 79px;
  position: absolute;
  top: -23px;
  width: 562px;
}

.hero-section .text-wrapper-25 {
  color: #000000;
  font-family: "Plantagenet Cherokee-Regular", Helvetica;
  font-size: 80px;
  font-weight: 400;
  height: 246px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 300px;
}

.hero-section .sign-in-circle-light {
  height: 42px;
  left: 51px;
  opacity: 0.9;
  position: absolute;
  top: 195px;
  transform: rotate(90deg);
  width: 44px;
}

.hero-section .overlap-group-3 {
  height: 36px;
  left: 5px;
  position: relative;
  top: 3px;
  width: 36px;
}

.hero-section .ellipse {
  height: 32px;
  left: 2px;
  position: absolute;
  top: 2px;
  transform: rotate(-90deg);
  width: 36px;
}

.hero-section .vector-2 {
  height: 23px;
  left: 3px;
  position: absolute;
  top: 6px;
  transform: rotate(-90deg);
  width: 18px;
}

.hero-section .text-wrapper-26 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  height: 37px;
  left: 128px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 191px;
  width: 434px;
}

.hero-section .add-duotone-line {
  height: 50px;
  left: 813px;
  position: absolute;
  top: 188px;
  width: 44px;
}

.hero-section .overlap-9 {
  border: 1.2px solid;
  border-color: #7d869e40;
  border-radius: 16.5px/18.86px;
  height: 38px;
  left: 6px;
  position: relative;
  top: 6px;
  width: 33px;
}

.hero-section .vector-3 {
  height: 18px;
  left: 15px;
  position: absolute;
  top: 9px;
  width: 1px;
}

.hero-section .vector-4 {
  height: 1px;
  left: 7px;
  position: absolute;
  top: 17px;
  width: 16px;
}

.hero-section .add-duotone-line-2 {
  height: 50px;
  left: 812px;
  position: absolute;
  top: 92px;
  width: 44px;
}

.hero-section .add-duotone-line-3 {
  height: 50px;
  left: 813px;
  position: absolute;
  top: 298px;
  width: 44px;
}

.hero-section .add-duotone-line-4 {
  height: 50px;
  left: 812px;
  position: absolute;
  top: 409px;
  width: 44px;
}

.hero-section .add-duotone-line-5 {
  height: 50px;
  left: 134px;
  position: absolute;
  top: 272px;
  width: 44px;
}

.hero-section .add-duotone-line-6 {
  height: 50px;
  left: 812px;
  position: absolute;
  top: 632px;
  width: 44px;
}

.hero-section .add-duotone-line-7 {
  height: 50px;
  left: 134px;
  position: absolute;
  top: 495px;
  width: 44px;
}

.hero-section .add-duotone-line-8 {
  height: 50px;
  left: 811px;
  position: absolute;
  top: 520px;
  width: 44px;
}

.hero-section .add-duotone-line-9 {
  height: 50px;
  left: 133px;
  position: absolute;
  top: 383px;
  width: 44px;
}

.hero-section .add-duotone-line-10 {
  height: 50px;
  left: 134px;
  position: absolute;
  top: 594px;
  width: 44px;
}

.hero-section .text-wrapper-27 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  height: 52px;
  left: 886px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 298px;
  width: 434px;
}

.hero-section .text-wrapper-28 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  height: 52px;
  left: 885px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 409px;
  width: 434px;
}

.hero-section .text-wrapper-29 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  height: 52px;
  left: 207px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 272px;
  width: 434px;
}

.hero-section .text-wrapper-30 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  height: 52px;
  left: 885px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 632px;
  width: 434px;
}

.hero-section .text-wrapper-31 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  height: 52px;
  left: 207px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 495px;
  width: 434px;
}

.hero-section .text-wrapper-32 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  height: 52px;
  left: 884px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 520px;
  width: 434px;
}

.hero-section .text-wrapper-33 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  height: 52px;
  left: 206px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 383px;
  width: 434px;
}

.hero-section .text-wrapper-34 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  height: 52px;
  left: 206px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 606px;
  width: 434px;
}

.hero-section .text-wrapper-35 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  height: 37px;
  left: 886px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 89px;
  width: 434px;
}

.hero-section .text-wrapper-36 {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  height: 52px;
  left: 886px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 183px;
  width: 410px;
}

.hero-section .line-12 {
  height: 1px;
  left: 810px;
  object-fit: cover;
  position: absolute;
  top: 150px;
  width: 510px;
}

.hero-section .line-13 {
  height: 1px;
  left: 810px;
  object-fit: cover;
  position: absolute;
  top: 265px;
  width: 510px;
}

.hero-section .line-14 {
  height: 1px;
  left: 811px;
  object-fit: cover;
  position: absolute;
  top: 375px;
  width: 510px;
}

.hero-section .line-15 {
  height: 1px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 233px;
  width: 510px;
}

.hero-section .line-16 {
  height: 1px;
  left: 810px;
  object-fit: cover;
  position: absolute;
  top: 486px;
  width: 510px;
}

.hero-section .line-17 {
  height: 1px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 349px;
  width: 510px;
}

.hero-section .line-18 {
  height: 1px;
  left: 810px;
  object-fit: cover;
  position: absolute;
  top: 709px;
  width: 510px;
}

.hero-section .line-19 {
  height: 1px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 572px;
  width: 510px;
}

.hero-section .line-20 {
  height: 1px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 666px;
  width: 510px;
}

.hero-section .line-21 {
  height: 1px;
  left: 809px;
  object-fit: cover;
  position: absolute;
  top: 597px;
  width: 510px;
}

.hero-section .line-22 {
  height: 1px;
  left: 131px;
  object-fit: cover;
  position: absolute;
  top: 460px;
  width: 510px;
}
