.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

.buy-button,
.pre-order-button {
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
}

.buy-button:hover,
.pre-order-button:hover {
  background-color: #0056b3;
}

  .desktop .div {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .div-wrapper,
  .frame-6 {
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
  }

.div-wrapper:focus,
.frame-6:focus,
.div-wrapper:hover,
.frame-6:hover {
  background-color: #f0f0f0; /* Example hover effect */
}

  .desktop .frame {
    background-image: url(https://c.animaapp.com/Zo7kpJCa/img/frame-81.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    height: 591px;
    left: 58px;
    overflow: hidden;
    position: absolute;
    top: 79px;
    width: 662px;
  }
  
  .desktop .overlap-group {
    background-image: url(https://c.animaapp.com/Zo7kpJCa/img/frame-12.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 612px;
    position: relative;
    top: -21px;
  }
  
  .desktop .ellipse {
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 40px;
    height: 80px;
    left: 545px;
    position: absolute;
    top: 513px;
    width: 80px;
  }
  
  .desktop .ph-heart-fill {
    height: 35px;
    left: 568px;
    position: absolute;
    top: 535px;
    width: 35px;
  }
  
  .desktop .text-wrapper {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 36px;
    font-weight: 400;
    height: 72px;
    left: 787px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 78px;
    width: 585px;
  }
  
  .desktop .p {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 51px;
    left: 787px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 169px;
    width: 359px;
  }
  
  .desktop .overlap {
    height: 66px;
    left: 787px;
    position: absolute;
    top: 261px;
    width: 611px;
  }
  
  .desktop .text-wrapper-2 {
    color: #00000066;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 36px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    width: 611px;
  }
  
  .desktop .text-wrapper-3 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 36px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 611px;
  }
  
  .desktop .overlap-2 {
    height: 66px;
    left: 787px;
    position: absolute;
    top: 411px;
    width: 611px;
  }
  
  .desktop .overlap-3 {
    height: 62px;
    left: 787px;
    position: absolute;
    top: 338px;
    width: 611px;
  }
  
  .desktop .text-wrapper-4 {
    color: #00000066;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 36px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
    width: 87px;
  }
  
  .desktop .text-wrapper-5 {
    color: #00000066;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 36px;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
    width: 87px;
  }
  
  .desktop .text-wrapper-6 {
    color: #00000066;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 36px;
    left: 200px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
    width: 87px;
  }
  
  .desktop .text-wrapper-7 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 36px;
    left: 58px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 692px;
    width: 611px;
  }
  
  .desktop .text-wrapper-8 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 36px;
    left: 787px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 488px;
    width: 611px;
  }
  
  .desktop .frame-2 {
    background-image: url(https://c.animaapp.com/Zo7kpJCa/img/frame-82@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 20px;
    height: 135px;
    left: 66px;
    position: absolute;
    top: 752px;
    width: 141px;
  }
  
  .desktop .frame-3 {
    background-image: url(https://c.animaapp.com/Zo7kpJCa/img/frame-83@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 20px;
    height: 135px;
    left: 237px;
    position: absolute;
    top: 752px;
    width: 141px;
  }
  
  .desktop .frame-4 {
    background-image: url(https://c.animaapp.com/Zo7kpJCa/img/frame-84.svg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 20px;
    height: 135px;
    left: 408px;
    position: absolute;
    top: 752px;
    width: 141px;
  }
  
  .desktop .frame-5 {
    background-image: url(https://c.animaapp.com/Zo7kpJCa/img/frame-85.svg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 20px;
    height: 135px;
    left: 579px;
    position: absolute;
    top: 752px;
    width: 141px;
  }
  
  .desktop .div-wrapper {
    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
    height: 75px;
    left: 787px;
    overflow: hidden;
    position: absolute;
    top: 595px;
    width: 200px;
  }
  
  .desktop .text-wrapper-9 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 74px;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 184px;
  }
  
  .desktop .frame-6 {
    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
    height: 75px;
    left: 1030px;
    overflow: hidden;
    position: absolute;
    top: 595px;
    width: 200px;
  }
  
  .desktop .text-wrapper-10 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 74px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 200px;
  }
  
  .desktop .ellipse-2 {
    background-color: #000000;
    border-radius: 18px/17px;
    height: 34px;
    left: 787px;
    position: absolute;
    top: 535px;
    width: 36px;
  }
  
  .desktop .ellipse-3 {
    background-color: #d9d9d9;
    border-radius: 18px/17px;
    height: 34px;
    left: 838px;
    position: absolute;
    top: 535px;
    width: 36px;
  }
  
  .desktop .ellipse-4 {
    background-color: #845b0b;
    border-radius: 18px/17px;
    height: 34px;
    left: 889px;
    position: absolute;
    top: 535px;
    width: 36px;
  }
  
  .desktop .ellipse-5 {
    background-color: #bec1c6;
    border-radius: 18px/17px;
    height: 34px;
    left: 940px;
    position: absolute;
    top: 535px;
    width: 36px;
  }
  